*{
    font-family: 'Tiro Bangla', serif;
}

.container-fluid img{
    width: 35px;
    height: 35px;
   
}
.nav01{
    margin-left: 100px;
}

/* carousel iteam */
.c11{
    background-image: linear-gradient(to top,#2ecc71,#0984e3);
   border-radius: 200px;
}

.c111{
    border-radius: 200px;
    background-image: linear-gradient(to bottom,#74b9ff,#fab1a0);
}
.c1111{
    border-radius: 200px;
    background-image: linear-gradient(to bottom,#81ecec,#55efc4);
}
.c11111{
    border-radius: 200px;
    background-image: linear-gradient(to bottom,#74b9ff,#0984e3);
}


.c123 a{
color: white;
text-align: center;
text-decoration: none;
padding: 11px 13px;
background-image: linear-gradient(to right,#2ecc71,#0984e3);
border-radius: 10px;
transition: all 0.7s ease-in-out;
margin-left: 12%;
margin-top: 6%;
}
.c123 a:hover{
    background: linear-gradient(to left,#2ecc71,#0984e3);

}

.c123 h1{
    color: white;
    text-align: center;
    margin-top: 10%;
}
.c123 p{
    color: white;
    text-align: center;
    margin-left: 3%;
}

.c02 a{
    background-image: linear-gradient(to left,#74b9ff,#fab1a0);

}

.c02 a:hover{
    background-image: linear-gradient(to right,#74b9ff,#fab1a0);

}
.c03 a{
    background-image: linear-gradient(to left,#81ecec,#55efc4);

}

.c03 a:hover{
    background-image: linear-gradient(to right,#81ecec,#55efc4);

}
.c04 a{
    background-image: linear-gradient(to left,#74b9ff,#0984e3);

}

.c04 a:hover{
    background-image: linear-gradient(to right,#74b9ff,#0984e3);

}


/* marqueee section */

.section-03{
    background-image: linear-gradient(to left,#81ecec,#55efc4);
    border-radius: 10px;
}


.first-column-01{
    height: 150px;
    width: 32%;
   border-radius: 10px;
    color: white;
    background-image: linear-gradient(to right,#ff9ff3,#55efc4);
    box-shadow: 5px 8px 9px lightgrey;
}
.first-column-02{
    height: 150px;
   border-radius: 10px;
    width: 32%;
    margin: 0 1.5%;
    color: white;
    background-image: linear-gradient(to left,#515C6A,#515151);
    box-shadow: 5px 8px 9px lightgrey;
}
.first-column-03{
    height: 150px;
    color: white;
    width: 32%;
    border-radius: 10px;
    background-image: linear-gradient(to right,#4b6584,#2bcbba);
    box-shadow: 5px 8px 9px lightgrey;

}
.first-column-01 a{
    background-image: linear-gradient(to right,#ff9ff3,#55efc4);

}
.first-column-02 a{
    background-image: linear-gradient(to left,#515C6A,#515151);

}
.first-column-03 a{
    background-image: linear-gradient(to right,#4b6584,#2bcbba);

}
.first-column-03 a, .first-column-02 a, .first-column-01 a{
    color: white;
    text-decoration: none;
    padding: 10px 44px;
    border: none;
    border-radius: 10px;
    transition: all 200ms ease-in-out;

}

.first-column-01 a:hover, .first-column-02 a:hover,.first-column-03 a:hover{
    box-shadow: 0px 0px 10px #FFC312, 0px 0px 40px #FFC312,0px 0px 80px #FFC312,0px 0px 120px #FFC312;
    background: #FFC312;
}

/* .first-column-01:hover,.first-column-02:hover,.first-column-03:hover{
    box-shadow: 0px 0px 10px #FFC312, 0px 0px 40px #FFC312,0px 0px 80px #FFC312,0px 0px 120px #FFC312;
} */








/* section number 05 */

.section-05 .first-column-01{
    height: 150px;
    width: 32%;
   border-radius: 10px;
   overflow: hidden;
    color: black;
    background-image: linear-gradient(to right,white,white);
    box-shadow: 5px 8px 9px lightgrey;
}
.section-05 .first-column-02{
    height: 150px;
   border-radius: 10px;
    width: 32%;
    margin: 0 1.5%;
    color: white;
    background-image: linear-gradient(to right,#9CE9DC,#9CE9DC);
    box-shadow: 5px 8px 9px lightgrey;
}
.section-05 .first-column-03{
    height: 150px;
    color: white;
    width: 32%;
    border-radius: 10px;
    background-image: linear-gradient(to right,#AEB6C6,#AEB6C6);
    box-shadow: 5px 8px 9px lightgrey;

}
.section-05 .first-column-01 a{
    background-image: linear-gradient(to right,#ff9ff3,#55efc4);
    padding: 5px 10px;
    margin-right: 10px;

}
.section-05 .first-column-02 a{
    background-image: linear-gradient(to right,#9CE9DC,#55efc4);

}
.first-column-03 a{
    background-image: linear-gradient(to left,#AEB6C6,#9CE9DD);

}
.section-05 .first-column-03 a, .section-05 .first-column-02 a, .section-05 .first-column-01 a{
    color: white;
    text-decoration: none;
    padding: 10px 44px;
    border: none;
    border-radius: 10px;
    transition: all 200ms ease-in-out;

}

.section-05 .first-column-01 a:hover, .section-05 .first-column-02 a:hover,.section-05 .first-column-03 a:hover{
    box-shadow: 0px 0px 10px #FFC312, 0px 0px 40px #FFC312,0px 0px 80px #FFC312,0px 0px 120px #FFC312;
    background: #FFC312;
}


.header000{
    text-align: center;
    box-shadow: 10px 9px 13px lightgray;
    border-radius: 10px;
    padding: 10px 0px;
}
.kalam1 a{
    color: #fff;
    padding: 8px 45px;
    border-radius: 13px;
    text-decoration: none;
    background-image: linear-gradient(to left,#9CE9DC,#55efc4);


}
.kalam1 a:hover{
    box-shadow: 0px 0px 10px #FFC312, 0px 0px 40px #FFC312,0px 0px 80px #FFC312,0px 0px 120px #FFC312;
    background: #FFC312;
}
.kalam1 h3{
    padding-top: 3%;
}

.section-06 .f1{
    margin:auto;

}
.f1{
    box-shadow: 10px 9px 13px lightgrey;
    border-radius: 10px;
    border-top: 1px solid lightgrey;
    width: 48%;
}
.f12{
    box-shadow: 10px 9px 13px lightgrey;
    border-radius: 10px;
    border-top: 1px solid lightgrey;
    width: 48%;
}

/* last section */
.section-07{
    width: 100%;
    height: 100vh;
}

  .foot{
    color: lightgrey;
    background: grey;
    padding: 60px 0px 20px 0px;
    text-align: center;
}






/* media css section */
@media (max-width: 1000px){

    .first-column-01 {
        height: 150px;
        width: 100%;
        border-radius: 10px;
        color: white;
        background-image: linear-gradient(to right,#ff9ff3,#55efc4);
        box-shadow: 5px 8px 9px lightgrey;
    }
    .first-column-02 {
        height: 150px;
        border-radius: 10px;
        width: 100%;
        margin: 5% 0%;
        color: white;
        background-image: linear-gradient(to left,#515C6A,#515151);
        box-shadow: 5px 8px 9px lightgrey;
    }
    .first-column-03 {
        height: 150px;
        border-radius: 10px;
        width: 100%;
        margin: -1% 0%;
        color: white;
        background-image: linear-gradient(to left,#515C6A,#515151);
        box-shadow: 5px 8px 9px lightgrey;
    }
    .section-05 .first-column-01 {
        height: 150px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        color: black;
        background-image: linear-gradient(to right,white,white);
        box-shadow: 5px 8px 9px lightgrey;
    }.section-05 .first-column-02 {
        height: 150px;
        border-radius: 10px;
        width: 100%;
        margin: 5% 0;
        color: white;
        background-image: linear-gradient(to right,#9CE9DC,#9CE9DC);
        box-shadow: 5px 8px 9px lightgrey;
    }.section-05 .first-column-03 {
        height: 150px;
        color: white;
        width: 100%;
        border-radius: 10px;
        background-image: linear-gradient(to right,#AEB6C6,#AEB6C6);
        box-shadow: 5px 8px 9px lightgrey;
    }.f1 {
        box-shadow: 10px 9px 13px lightgrey;
        border-radius: 10px;
        border-top: 1px solid lightgrey;
        width: 97%;
    }.f12 {
        box-shadow: 10px 9px 13px lightgrey;
        border-radius: 10px;
        border-top: 1px solid lightgrey;
        width: 99%;
        margin-top: 7%;
    }
   
   


    .c123 a{
        margin-left: 0;
    }
}


/* body head */
.section-00{
    height: 10vh;

}
.clock {
    font-family: 'Times New Roman', Times, serif;
    
    color: black;
    font-size: 30px;
    letter-spacing: 5px;
   


}
.left00{
    /* background-image: linear-gradient(to left,#81ecec,#55efc4); */
    border-radius: 10px;
    box-shadow: 5px 6px 8px lightgrey;
}







  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #004658;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  